<a href="https://colab.research.google.com/github/sbrycbc/LearnPython/blob/main/exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
for i in range(0,10):
    print(str(i) * i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [8]:
for i in range(0,10):
    print((str(i) + " ") * i)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

In [9]:
for i in range(0,10):
    print(("*" + " ") * i)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [1]:
## ödev pramit seklinde ##

for i in range(0, 10):
    print(" " * (10 - i - 1), end="")
    print(("*" + " ") * i)

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
* * * * * * * * *

In [8]:
## ödev ok ">" seklinde ##

for i in range(0, 7):
    print("* " * i)
for i in range(5, 0,-1):
    print("* " * i)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*